h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.zarkfx_accordion_zarkpy {
    width:200px;
}
.zarkfx_accordion_zarkpy .zarkfx_accordion_bar {
    padding:0.8em 2em 0.8em 1em;
    display:block; 
    text-decoration:none; 
    text-shadow:0 1px 0 #fff; 
    border-bottom:1px dashed #ddd;
    color:#888;
    font-weight:bold;
    background-color:#f6f6f6;
    position:relative;
}
.zarkfx_accordion_zarkpy .zarkfx_accordion_bar .zarkfx_accordion_tri {
    display:none;
    width:20px;
    height:100%;
    position:absolute;
    top:0;
    right:1em;
    background-image:url(down.png);
    background-position:center right;
    background-repeat:no-repeat;
}
.zarkfx_accordion_zarkpy .zarkfx_accordion_folded_hover,
.zarkfx_accordion_zarkpy .zarkfx_accordion_expanded_hover {
    cursor:pointer;
}
.zarkfx_accordion_zarkpy .zarkfx_accordion_bar.zarkfx_accordion_folded_hover .zarkfx_accordion_tri {
    display:block;
}
.zarkfx_accordion_zarkpy .zarkfx_accordion_bar:last-of-type {
    border-bottom:0;
}
.zarkfx_accordion_zarkpy .zarkfx_accordion_box {
    overflow:hidden;
    background:#585858;
    position:relative;
    top:-1px;
}
.zarkfx_accordion_zarkpy .zarkfx_accordion_box .zarkfx_accordion_a {
    padding:0.2em 1.6em 0.2em 1.2em;
    margin:0 0.5em;
    border-radius:16px;
    display:block; 
    text-decoration:none; 
    color:#d9d9d9; 
    font-weight:bold;
    line-height:1.6em; 
    font-size:13px;
    position:relative;
}
.zarkfx_accordion_zarkpy .zarkfx_accordion_box .zarkfx_accordion_a .zarkfx_accordion_tri {
    display:none;
    width:7px;
    height:100%;
    position:absolute;
    top:0;
    right:1em;
    background-image:url(right.png);
    background-position:center right;
    background-repeat:no-repeat;
}
.zarkfx_accordion_zarkpy .zarkfx_accordion_box .zarkfx_accordion_a:first-child {
    margin-top:0.5em;
}
.zarkfx_accordion_zarkpy .zarkfx_accordion_box .zarkfx_accordion_a:last-child {
    margin-bottom:0.5em;
}
.zarkfx_accordion_zarkpy .zarkfx_accordion_box .zarkfx_accordion_hover {
    color:#fff; 
    cursor:pointer;  
    background-color:#444;
}
.zarkfx_accordion_zarkpy .zarkfx_accordion_box .zarkfx_accordion_hover .zarkfx_accordion_tri {
    display:block;
}
.zarkfx_accordion_zarkpy .zarkfx_accordion_box .zarkfx_accordion_selected .zarkfx_accordion_tri {
    display:block;
}
