h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.zarkfx_accordion {
    width:200px;
}
.zarkfx_accordion .zarkfx_accordion_bar {
    display:block; 
    padding:0.5em 2em 0.5em 1em;
    text-decoration:none; 
    text-shadow:0 1px 0 #fff; 
    border-top:1px solid transparent;
    border-bottom:1px dashed #ddd;
    position:relative;
}
.zarkfx_accordion .zarkfx_accordion_bar .zarkfx_tri {
    display:none;
    width:20px;
    height:100%;
    position:absolute;
    top:0;
    right:1em;
    background-image:url(down.png);
    background-position:center right;
    background-repeat:no-repeat;
}
.zarkfx_accordion .zarkfx_accordion_bar:hover {
    cursor:pointer;
    color:#000;
    border-top:1px solid #cecece;
    border-bottom:1px solid #cecece;
    background-color:#ededed;
}
.zarkfx_accordion .zarkfx_accordion_bar.zarkfx_folded:hover .zarkfx_tri {
    display:block;
}
.zarkfx_accordion .zarkfx_accordion_bar:first-child {
    border:0;
}
.zarkfx_accordion .zarkfx_accordion_box {
    overflow:hidden;
    position:relative;
    top:-1px;
    background-image:url(ac_box_bg.jpg);
    background-position:center right;
    background-repeat:repeat;
}
.zarkfx_accordion .zarkfx_accordion_box a {
    padding:0.1em 1.6em 0.1em 1.2em;
    margin:0 0.5em;
    border-radius:16px;
    display:block; 
    border-top:1px solid transparent;
    text-decoration:none; 
    color:#d9d9d9; 
    line-height:1.6em; 
    position:relative;
}
.zarkfx_accordion .zarkfx_accordion_box a .zarkfx_tri {
    display:none;
    width:7px;
    height:100%;
    position:absolute;
    top:0;
    right:1em;
    background-image:url(right.png);
    background-position:center right;
    background-repeat:no-repeat;
}
.zarkfx_accordion .zarkfx_accordion_box a:first-child {
    margin-top:0.7em;
}
.zarkfx_accordion .zarkfx_accordion_box a:last-child {
    margin-bottom:0.7em;
}
.zarkfx_accordion .zarkfx_accordion_box a:hover {
    color:#fff; 
    cursor:pointer;  
    background-color:#333;
    border-top:1px solid #000;
    box-shadow:0 1px 0 #555;
}
.zarkfx_accordion .zarkfx_accordion_box a:hover .zarkfx_tri {
    display:block;
}








